body {
    background-color: #736C66;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69' height='69' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23458e5e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2363ac7a' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23458e5e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2363ac7a' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2382CC98' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23868a7e' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23a6ab9e' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23C7CCBF' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23a6ab9e' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23868a7e' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23C7CCBF' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23868a7e' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23C7CCBF' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23a6ab9e' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23C7CCBF' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.titulo {
    background-color: #a2a59e;
    height: 60px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

.clase-boton{
    padding-top: 50px;
    margin: auto;
    width: 250px;
    height: 100px;
}

#boton-menu{
        min-width: 130px;
        height: 40px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #a2a59e;
        box-shadow: 0 5px #666564;
}

#boton-menu:hover {
    box-shadow: 0 3px #666564;
    top: 1px;
}

#boton-menu:active {
    box-shadow: 0 0 #666564;
    top: 5px;
}

.ocultar-menu {
    margin-top: 30px;
    display: none;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #a2a59e;
    box-shadow: 0 5px #666564;
}

.ocultar-menu:hover {
    box-shadow: 0 3px #666564;
    top: 1px;
}

.ocultar-menu:active {
    box-shadow: 0 0 #666564;
    top: 5px;
}

#ocultar-menu-visible{
    display: inline-block;
}

.carta {
    width: 500px;
    height: 750px;
    margin: auto;
    background-color: antiquewhite;
}

#lista-carta {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    display: block;
}

.titulo-lista{
    display: block;
    font-size: 40px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #97897c;
}

.elementos-lista{
    display: block;
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

#ocultar-tarjeta{
    display: none;
}